

<div class='footer'>
	<div class='img'>
		<img src='/img/avatar.jpeg'/>
	</div>
	<ul class='links'>
		<li>
			<img src='' class='git'>
			<a href='' target='_blank'>作者的GitHub</a>		
		</li>
		<li>
			<img src='' class='zhihu'>
			<a href='' target='_blank'>作者的GitHub</a>		
		</li>
	</ul>
</div>
</body>