
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="饥人谷前端培训,靠谱的前端培训, 好的前端培训, 饥人谷, 前端培训机构, 专业的前端培训, 前端" name="keywords">
    <meta content="饥人谷前端培训-国内最有爱的在前端学习社区" name="description">
    <meta name="viewport" charset="UTF-8" content="user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="baidu-tc-verification" content="de5877bb8a9756ef3aa8217110e60ef2" />
    <title>饥人谷-最有爱的前端学习社区</title>
    <link rel="stylesheet" href="/dist/common.css">
    <link rel="stylesheet" href="/dist/index.css">
</head>
<body>
<div class='header clear-fix'>
	<div class='avatar'>
		<img src='/img/avatar.jpeg' />
	</div>
	<ul class='nav'>
		<li>
			<a href='/'>首页</a>
		</li>
		<li>
			<a href='/about'>关于</a>
		</li>
		<li>
			<a href='/list'>博客列表</a>
		</li>
		<li>
			<a href='/write'>写博客</a>
		</li>
	</ul>
</div>



