

@import './highlight/dark.scss';
body{
	font-size:16px;
}
.clear-fix{
	&:after{
		content:'';
		clear:both;
		display:block;
	}
}
.header,.footer{
	position:relative;
	padding:20px 30px;
	&.footer{
		background:linear-gradient( 45deg, gray, coral );
		padding:0 30px;
	}
	&.header{
		border-bottom:1px solid #fff;
		background:#efd5b8
	}
	$height:100px;
	$h:60px;
	$sh:40px;
	$s-screen:480px;
	$m-screen:700px;
	$b-screen:800px;
	.avatar{
		 position: absolute;
		 border-radius:100%;
		 @media screen and (min-width:$s-screen){
            &{
            	left:30px;
         		top:20px;
         		width:$height;
		        height:$height;
            }
        }
        @media screen and (max-width: $s-screen){
            &{
                left:30px;
				top:30px;
				width:$h;
		        height:$h;
            }
		}
	}
	@mixin navScreen($margin,$m){
			font-size:18px;
            line-height:if($margin==20px or $m==$m-screen, $height, $sh);
            li{
                display: inline-block;
                margin:0 $margin;
                &.links{
					line-height:$h;
					img{
						vertical-align: middle;
						width:($h - 10);
						height:($h - 10);
						border-radius:100%;
					}
				}
            }
	}
	.nav{
        margin-left:130px;
		text-align:right;
		$h:60px;
		@media screen and (min-width:$b-screen){
			@include navScreen(20px,$b-screen)
        }
        @media screen and (min-width:$m-screen)  and (max-width: $b-screen){
			@include navScreen(10px,$m-screen)
        }
        @media screen and (min-width:$s-screen)  and (max-width: $m-screen){
			@include navScreen(10px,$s-screen)
        }
        @media screen and (max-width: $s-screen){
        	font-size:14px;
            li{
            	margin:0 10px;
                display: block;
				text-align:left;
				&.links{
					line-height:$h;
					img{
						vertical-align: middle;
						width:$sh;
						height:$sh;
						border-radius:100%;
					}
				}
            }
		}
		li{		
			a{
				transition:ease .2s;
				&:hover{
					color:yellow
				}
				img{
					margin-right:1px;
				}
			}
		}
	}
}
$blue:#0f88eb;
.search{
	#search{
		transition:ease .5s;
		border-radius:2px;
		font-size:14px;
		padding:2px 4px;
		&:focus{
			border: 1px solid $blue;
		}
	}
}
.footer{
	min-height:140px;
}
.content{
	min-height:70%;
}








