
@import "./markdown.scss";

@import "./responsive.scss";

$d:#ddd;
.blog-content{
    padding: 1em 0;
    border-bottom:1px solid $d
}
.blog-head{
    border-bottom:1px solid $d;
}
.blog-author{
    text-align: right;
    .date{
        font-size:0.8em
    }
    .author{
        font-size:0.8em;
        margin-left:0.4em;
    }
}
.blog-title{
    position: relative;
    .edit{
        position:absolute;
        right:1em;
        bottom:0;
        font-size:0.6em;
        color:gray;
        text-decoration: underline
    }
}
