body{
	font-size:16px;
    background: #f2f2f2 !important;
    min-height: 100%;
}
//加载
.spinner{
    text-align: center;
    width: 100%;
    padding-top:40px;
    font-size:16px;
    .ant-spin-dot{
         margin:auto
    }
}
//主内容区模块
.main-module{
    min-height:55%;
    max-width: 94%;
    margin:20px auto;
}
.clear-fix{
	&:after{
		content:'';
		clear:both;
		display:block;
	}
}
$s-screen:480px; //适配移动端
$m-screen:700px; //适配ipad
$b-screen:800px; //适配PC
/* @media screen and (min-width:100px) and (max-width:800px){
// 	float ==> block + inline-block + flex
// }*/
.footer{
	background:linear-gradient( 45deg, #000, coral );
	padding:5px 30px;
	.nav{
		margin-left:180px;
	}
	.personal{
		left: 130px;
		position:absolute;
		width:50px;
		height:130px;
		@media screen and (min-width:$b-screen){
			& {
				width:300px;
				.motto{
					padding-left:30px;
					top:20px;
				}
			}
        }
        @media screen and (min-width:$m-screen)  and (max-width: $b-screen){
			& {
				width:200px;
				.motto{
					padding-left:20px;
					top:15px;
				}
			}
        }
        @media screen and (min-width:$s-screen)  and (max-width: $m-screen){
        	& {
				width:140px;
				.motto{
					padding-left:10px;
					top:5px;
				}
			}
        }
		.motto{
			width:100%;
			position:absolute;
            color:#fff;
		}
	}
}
.header{
	border-bottom:1px solid #fff;
	background:linear-gradient( 45deg,#fff , #000 );
	.nav{
		margin-left:130px;
	}
}
.header,.footer{
	position:relative;
	padding:20px 30px;
	$height:100px;
	$h:60px;
	$sh:40px;
	.avatar{
		 position: absolute;
		 border-radius:100%;
		 .motto{
		 	position:absolute;
		 	bottom:-20px;
		 	left:0;
		 }
		 @media screen and (min-width:$s-screen){
            &,img{
            	left:30px;
         		top:20px;
         		width:$height;
		        height:$height;
            }
        }
        @media screen and (max-width: $s-screen){
            &{
                left:30px;
				top:30px;
				width:$h;
		        height:$h;
            }
		}
	}
	@mixin navScreen($margin,$m){
			font-size:18px;
            line-height:if($margin==20px or $m==$m-screen, $height, $sh);
            li{
                display: inline-block;
                margin:0 $margin;
                &.links{
					line-height:$h;
					img{
						vertical-align: middle;
						width:($h - 10);
						height:($h - 10);
						border-radius:100%;
					}
				}
            }
	}
	.nav{
		text-align:right;
		$h:60px;
		// pc
		@media screen and (min-width:$b-screen){
			@include navScreen(20px,$b-screen)
        }
        //ipad =pc
        @media screen and (min-width:$m-screen)  and (max-width: $b-screen){
			@include navScreen(10px,$m-screen)
        }
        //ipad
        @media screen and (min-width:$s-screen)  and (max-width: $m-screen){
        	width:410px;
        	text-align:center;
			@include navScreen(10px,$s-screen)
        }
        //mobile
        @media screen and (max-width: $s-screen){
        	font-size:14px;
            li{
            	margin:0 10px;
                display: block;
				text-align:left;
				&.links{
					line-height:$h;
					img{
						vertical-align: middle;
						width:$sh;
						height:$sh;
						border-radius:100%;
					}
				}
            }
		}
		li{
			a{
				transition:ease .2s;
				color: #108ee9;
			    background: transparent;
			    text-decoration: none;
			    outline: none;
			    cursor: pointer;
				&:hover{
					color:yellow
				}
				img{
					margin-right:1px;
				}
			}
		}
	}
}
$blue:#0f88eb;
.search{
	#search{
		height:30px;
		transition:ease .5s;
		border-radius:2px;
		font-size:14px;
		padding:2px 4px;
		&:focus{
			border: 1px solid $blue;
		}
	}
}
.footer{
	min-height:140px;
}









