

<script src="/dist/common.js"></script>
<script src="/dist/index.js"></script>

<pre>
	<code>
		$.ajax({
			url:'/user.action',
			method:'get',
			//返回数组
			success:function(arr){
				var liStr = arr.map(function(ele){
						return '<li>'+ele+'</li>'
					}).join('');

				$('#root').html(liStr);
			},
			error:function(error){
				console.log(error)
			}
		})
		//模拟post
	</code>
</pre>