





<%- include('./module/header')  %>
<div class='main-module'>
   <div id="mod-<%- viewName %>"></div>
</div>
<script src="/dist/common.js"></script>
<script src="/dist/<%- viewName %>.js"></script>

<%- include('./module/footer')  %>